*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
   
}
.title{
    display: flex;
    justify-content: center;
}
.card{
    background-image: url(imagenes/cppbasico.png);
    background-size:cover;
    background-position: center;
    width: 800px;
    height: 400px;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
.lista{
    display: flex;
    justify-content: center;
    background-color: black;
}
 

 
.menu{  
    width: 100%;
    height: 120px;
    background-image: linear-gradient(rgba(29, 29, 156, 0.849), rgba(46, 46, 175, 0.651),rgba(79, 79, 199, 0.438),rgba(99, 99, 230, 0.288),rgba(72, 72, 255, 0));
    /*position:fixed;   esto es para que siga el scroll*/
    
}

nav{
    margin: 10px;
    padding: 10px;
   float: right;
   
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #2d2d86;
}
footer img{
    height: 40px;
    width: 50px;
}
.f{
    height: 60%;     
}
.f1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.f1::after,.f1::before{
    margin-top: 20px;
    content:'';
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: black;    
}
.f1::before{
    left: 330px;

}
.f1::after{
    right: 330px;
}
section .f2 img{
    height: 20px;
    width: 25px;

}
.f2{
    margin-top: 10px;
    justify-content: center;
    display:flex;
}



